.style {
    margin: 30px 180px 30px 180px;
    padding: 20px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;;
    font-size: 20px;
    text-align: center;
    font-style: bold;
    color: black
}
